input[type="number"] {
  -moz-appearance: textfield;
  background-color: var(--bg-color-quaternary);
  border: 1px solid var(--border-color-primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-primary);
  font-family: var(--font-family-primary);
  font-size: 90%;
  height: 70%;
  padding: 5px 0;
  position: absolute;
  right: 8px;
  text-align: center;
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  width: 35px;
}

input[type="number"]:not([disabled="true"]):hover,
input[type="number"]:not([disabled="true"]):focus {
  background-color: rgb(22, 22, 22);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}