main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.page-content {
  background-color: transparent;
  border: none;
}

h1 {
  color: var(--font-color-secondary);
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: 500;
  margin-bottom: calc(var(--base-spacing) * 1);
}

hr {
  margin-bottom: calc(var(--base-spacing) * 1.5);
}

h2 {
  color: var(--font-color-tertiary);
  font-size: calc(var(--base-font-size) * 1.3);
  font-weight: 400;
  margin-bottom: calc(var(--base-spacing) * 1);
  text-decoration: underline;
}

p,
main ul,
.page-content span {
  color: var(--font-color-tertiary);
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: 300;
}

p:not(:last-child),
main ul {
  margin-bottom: calc(var(--base-spacing) * 1.5);
}

ul {
  margin-left: calc(var(--base-spacing) * 1.25);
}

.page-content a {
  border: none;
  color: var(--green-light);
  padding: 0;
  text-decoration: underline;
}

.page-content a:hover,
.page-content a:focus {
  border-bottom: none;
}

strong {
  font-weight: 500;
}